@font-face {
  font-family: la;
  src: url(../assets/Krungthep.ttf);
}

.btn {
  border: black;
  border-style: solid;
  border-width: 3px;
  background: white;

  margin-bottom: 50px;
  margin-right: 20px;

  padding: -5px -20px;
  font-size: 1.1rem;
  color: black;
  background: green;
  transition: 0.3s all ease-out;
  cursor: pointer;
  font-family: la;
}

.btn:hover {
  color: black;
  background: rgb(255, 0, 0);
}
