@font-face {
  font-family: la;
  src: url(../assets/Krungthep.ttf);
}

.digitalmapsDropdown {
  width: 15rem;
  top: 70px;
  margin-left: -11px;
  position: absolute;
  list-style: none;
  text-align: center;
}

.digitalmapsDropdown li {
  padding-right: 65px;
  /* padding-top: 5px; */
  margin-bottom: -90px;
  background: #ffffff;
  cursor: pointer;
  border-style: solid;
  border-width: 3px;
  border-color: black;
}

.digitalmapsDropdown li a:hover {
  padding-right: 62px;
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;
  background: #fff200;
}

.digitalmapsDropdown.clicked {
  text-align: center;
  display: none;
}

.submenu-item {
  display: block;
  width: 100%;
  text-align: center;

  text-decoration: none;
  /* padding: 15px; */
  /* padding-right: 3px; */
  color: black;
  font-family: la;
  font-size: 35px;
  text-align: center;
  justify-content: center;
}
