.footer {
    width: 100%;
    /* height: 120px; */
    background-color: #fff200;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* padding-top: 5px; */
  }
  
  /* each icon is svg, so in oder to change the size/color of the icon, access the svg in the social media div */
  .socialMedia svg {
    color: black;
    margin: 15px;
    margin-bottom: 0;
    font-size: 20px;
    cursor: pointer;
  }
  
  .footer p {
    font-family: la;
    font-size: small;
    color: rgb(0, 0, 0);
    margin-top: 10px;

  }