.home {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* animation */

.hero {
  margin-top: 100px;
  margin-bottom: 300px;

  height: 100%;
  width: 100%;
  background-image: url(../assets/sky.jpg);
  /* background-size: 400px, 300px; */
  background-position: center;
  background-repeat: "no-repeat";
  position: relative;
  overflow-x: hidden;
}

.highway {
  margin-top: 150px;

  height: 200px;
  width: 500%;
  display: block;
  background-image: url(../assets/road.jpg);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  animation: highway 5s linear infinite;
}

@keyframes highway {
  100% {
    transform: translateX(-3400px);
  }
}

.city {
  margin-top: 150px;

  height: 150px;
  width: 500%;
  background-image: url(../assets/city.png);
  position: absolute;
  bottom: 200px;
  left: 0;
  right: 0;
  display: block;
  z-index: 1;
  background-repeat: repeat-x;
  animation: city 20s linear infinite;
}

@keyframes city {
  100% {
    transform: translateX(-1400px);
  }
}

.car {
  margin-top: 150px;

  width: 400px;
  left: 50%;
  bottom: 100px;
  transform: translateX(-50%);
  position: absolute;
  z-index: 2;
}

.car img {
  margin-top: 150px;

  width: 100%;
  animation: car 1s linear infinite;
}

@keyframes car {
  100% {
    transform: translateY(-1px);
  }
  50% {
    transform: translateY(1px);
  }
  0% {
    transform: translateY(-1px);
  }
}

.wheel {
  margin-top: 150px;

  left: 50%;
  bottom: 340px;
  transform: translateX(-50%);
  position: absolute;
  z-index: 2;
}

.wheel img {
  margin-top: 150px;

  width: 72px;
  height: 72px;
  animation: wheel 1s linear infinite;
}

.back-wheel {
  margin-top: 150px;

  left: -165px;
  position: absolute;
}
.front-wheel {
  margin-top: 150px;

  left: 80px;
  position: absolute;
}
@keyframes wheel {
  100% {
    transform: rotate(360deg);
  }
}

.headerContainer h1 {
  justify-content: center;
  align-items: center;
  font-size: 90px;
  height: 60px;
  font-weight: 50;
  color: black;
}

.headerContainer p {
  padding: 0;
  margin: 5px;
  font-size: 40px;
  font-weight: lighter;
  color: black;
}

.headerContainer button {
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  justify-content: center;
  background-color: #121619;
  height: 50px;
  width: 180px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.headerContainer button:hover {
  background-color: #07090a;
  cursor: pointer;
  transition: 0.3s ease-in;
}

@media only screen and (max-width: 650px) {
  .home {
    justify-content: center;
    align-items: center;
  }

  .headerContainer {
    /* margin-left: 0px; */
    /* border-radius: 10px; */
    /* padding: 10px; */
    width: 80%;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* flex-direction: column; */
    /* background-color: #121619; */
    /* color: white; */
  }

  .headerContainer h1 {
    font-size: 40px;
    height: 30px;
    color: white;
  }

  .headerContainer p {
    font-size: 30px;
    color: white;
  }

  .headerContainer button {
    background-color: white;
    color: #121619;
    margin-bottom: 30px;
  }

  .headerContainer button:hover {
    background-color: rgb(225, 225, 225);
    color: #121619;
  }
}

/* @font-face {
    font-family: krungthep;
    src: url(../assets/Krungthep.ttf);
  }
  .krungthep{
    font-family: krungthep;
  }
  @font-face {
    font-family: la;
    src: url(../assets/Lalezar-Regular.ttf);
  }
  .la{
    font-family: la;
  } */

.websites {
  display: inline-flex;
  text-align: right;
  justify-content: right;
  height: 50px;
  width: 50px;
}

/* .websites.first-web{ */
/* display:block; */
/* text-align: right;
    justify-content: right;
    height: 10px;
    width: 10px;
  } */

.flexbox {
  margin-top: 100px;
  /* display: flex;
    flex-direction: column; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  justify-content: center;
}
.col1 {
  margin-top: 20px;
  margin-left: 20px;
  text-align: left;
  justify-content: left;
  align-items: left;
}
.col1 h1 {
  margin-bottom: -50px;
  font-family: la;
  font-size: 100px;
}

.col1 p {
  margin-top: 0;
  font-family: krungthep;
  font-size: 20px;
}
.col2 {
  display: grid;
  margin-top: 220px;
  text-align: right;
  justify-content: right;
  align-items: right;
  margin-right: 40px;
}

.img-wrapper {
  overflow: hidden;
}
img.hover-zoom1:hover {
  transform: scale(1.2);
}
img.hover-zoom2:hover {
  transform: scale(1.2);
}
img.hover-zoom3:hover {
  transform: scale(1.2);
}

.col2 .hover-zoom2 {
  margin-left: 10px;
}
.col2 .hover-zoom3 {
  margin-left: 10px;
}

.col1 .btn {
  border: black;
  border-style: solid;
  border-width: 3px;
  background: white;
  margin-left: 1px;
  margin-top: 0px;
  padding: 6px 16px;
  font-size: 1.1rem;
  color: black;
  background: rgb(255, 0, 0);
  transition: 0.3s all ease-out;
  cursor: pointer;
  font-family: la;
}

.col1 .btn:hover {
  color: black;
  background: green;
}
