/* .navbar {
    width: 100%;
    height: 100px;
    background-color: #121619;
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    margin-top: 30px;


  } */

.navbar .leftSide {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 150px;
}

.navbar .leftSide img {
  width: 70px;
}

.navbar .rightSide {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar .rightSide button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.navbar .rightSide svg {
  font-size: 40px;
}

.navbar #open {
  padding-left: 0px;
}
.navbar #open img {
  display: none;
}

.navbar #close img {
  display: inherit;
}

.navbar #open .hiddenLinks {
  display: inherit;
  margin-left: 30px;
}

.navbar #close .hiddenLinks {
  display: none;
}

.navbar #open a {
  width: 70px;
  margin: 5px;
}

/* media query--> what is this? determine size base on the width of the screen */
@font-face {
  font-family: la;
  src: url(../assets/Krungthep.ttf);
}

.navbar {
  z-index: 999;
  width: 100%;
  height: 100px;
  /* height: 5vh; */
  /* background: #fff200; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: fixed;
  /* position: fixed: stick to the top when scrolling down */
  top: 30px;
  font-family: la;
  margin-bottom: -50px;
  background-color: #fff200;
}

/* how to move apple upward a bit */
.navbar-logo {
  align-items: left;
  margin-bottom: 60px;
  margin-right: 290px;
  margin-left: -20px;
}

.nav-items {
  display: flex;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: flex-end;
  margin-right: 2rem;
  padding-bottom: -50px;
}

.nav-item {
  display: flex;
  align-items: left;
  margin-top: 100px;
  /* height: 10vh; */
}

.nav-items a {
  text-decoration: none;
  color: black;
  font-size: 2.8rem;
  margin-left: 2rem;
  padding: 4px 1px;
  border-radius: 0px;
  margin-bottom: 80px;
}
.nav-item a:hover {
  background: transparent;
  margin-bottom: 150px;

  border-style: solid;
  border-width: 3px;
  border-color: black;
}
