/* Put css that affects every single page */

@font-face {
  font-family: krungthep;
  src: url(./assets/Krungthep.ttf);
}
.krungthep {
  font-family: krungthep;
}
@font-face {
  font-family: la;
  src: url(./assets/Lalezar-Regular.ttf);
}
.la {
  font-family: la;
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
}

.App {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  /* what is flexbox? Is this flex same as flexbox? */
  font-family: Arial, Helvetica, sans-serif;

  z-index: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  cursor: url(assets/pepe1.png), auto;
  /* cursor needs to be within 128px x 128px */
}

/* anchor tag? */
a {
  cursor: url(assets/pepe2.png), pointer;
}

body {
  padding: 0;
  margin: 0;
}
